/*! ===== categories ===== */
.categories {
	padding: 25px;

	&-list {

	}

	&-item {
		float: left;
		width: 33.33%;
		padding: 15px;

		@include media(992) {
			width: 50%;
		}

		@include media(640) {
			width: 100%;
		}

		&:nth-of-type(3n+1) {
			clear: both;
			@include media(992) {
				clear: none;
			}
		}
		
		&:nth-of-type(2n+1) {
			@include media(992) {
				clear: both;
			}
			@include media(640) {
				clear: none;
			}
		}
	}

	&-link {
		display: inline-block;
		width: 100%;
		padding: 15px 10px;
		border: 2px solid #000;
		color: #000;
		transition: .5s;

		&:hover {
			box-shadow: inset 0 0 25px #000;
		}

		&__icon {
			width: 100%;
			height: 100%;
			object-fit: contain;

			&-holder {
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				height: 40px;
				max-width: 10%;

				@include media(400) {
					display: block;
					width: 40%;
					height: auto;
					max-width: none;
					margin: auto;
				}
			}
		}

		&__name {
			display: inline-block;
			vertical-align: middle;
			max-width: 85%;
			margin-left: 2%;

			@include media(400) {
				max-width: 100%;
				display: block;
				text-align: center;
				margin-top: 15px;
			}
		}
	}

	.btn-holder {
		margin-top: 25px;
	}
}

.category .shop-category {
	padding: 15px;
}

.partnership {

	&__text {
		padding: 15px 25px;
	}
}

.form_feedback {
	max-width: 600px;
	margin: 50px auto;
	padding: 0 15px;
	text-align: center;


	.form__label-text {
		text-align: left;
	}

	.form__textarea {
		width: 100%;
		height: 300px;
		max-height: 600px;
		padding: 10px 15px;
	}
}

.video {
	padding: 25px;

	&-holder {
	  display: block;
	  position: relative;
	  height: 0;
	  overflow: hidden;
	}

	&-holder_16x9 {
	  padding-bottom: 56.25%;
	}

	&-holder_4x3 {
	  padding-bottom: 75%;
	}

	&-holder iframe, &-holder img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
}

