// ====== Sidebar ======= 
aside.sidebar
	.menu
		ul.menu-list
			li.menu-item
				a.menu-link(href="video.html" title="Просмотр видео")
					+symbol('m', 'menu-icon')
			li.menu-item.menu-item_active
				a.menu-link(href="index.html" title="Главная")
					+symbol('home', 'menu-icon')
			li.menu-item
				a.menu-link(href="categories.html" title="Категории")
					+symbol('bars', 'menu-icon')
			li.menu-item
				a.menu-link(href="favorites.html" title="Избранное")
					+symbol('star', 'menu-icon')
			li.menu-item
				a.menu-link(href="partnership.html" title="Сотрудничество")
					+symbol('hands', 'menu-icon')
			li.menu-item
				a.menu-link(href="user.html" title="Личный кабинет")
					+symbol('gear', 'menu-icon')
		.menu-pointer