// ====== Sidebar ======= 
aside.sidebar
	.menu
		ul.menu-list
			li.menu-item.menu-item_active
				a.menu-link(href="#")
					+symbol('m', 'menu-icon')
			li.menu-item
				a.menu-link(href="#")
					+symbol('home', 'menu-icon')
			li.menu-item
				a.menu-link(href="#")
					+symbol('bars', 'menu-icon')
			li.menu-item
				a.menu-link(href="#")
					+symbol('star', 'menu-icon')
			li.menu-item
				a.menu-link(href="#")
					+symbol('hands', 'menu-icon')
			li.menu-item
				a.menu-link(href="#")
					+symbol('gear', 'menu-icon')
		.menu-pointer