extends ../main

block content
	.category
		._container
		
			// ====== owl-carousel ======= 
			.carousel_main-holder
				.owl-carousel.carousel_main
					.carousel__item
						img(src="img/trademarks/eldorado.jpg")
					.carousel__item
						img(src="img/trademarks/rozetka2.jpg")
					.carousel__item
						img(src="img/trademarks/citrus2.jpg")
					.carousel__item
						img(src="img/trademarks/next.jpg")
					.carousel__item
						img(src="img/trademarks/ikea.jpg")
					.carousel__item
						img(src="img/trademarks/eldorado.jpg")
					.carousel__item
						img(src="img/trademarks/rozetka2.jpg")
					.carousel__item
						img(src="img/trademarks/citrus2.jpg")
					.carousel__item
						img(src="img/trademarks/next.jpg")
					.carousel__item
						img(src="img/trademarks/ikea.jpg")

			// ====== shops ======= 
			.shops
				._row
					.shop-category Категория: 
						span.shop-category__name Электроника, бытовая техника, одежда, прочее

				ul._row.shops-list
					li.shops-item
						a.shops-link(href="shop.html")
							.shops-img-holder
								img.shops-img(src="img/trademarks/eldorado.jpg", alt="")
								.shops-name Eldorado
					li.shops-item
						a.shops-link(href="shop.html")
							.shops-img-holder
								img.shops-img(src="img/trademarks/rozetka2.jpg", alt="")
								.shops-name rozetka2
					li.shops-item
						a.shops-link(href="shop.html")
							.shops-img-holder
								img.shops-img(src="img/trademarks/citrus2.jpg", alt="")
								.shops-name citrus2
					li.shops-item
						a.shops-link(href="shop.html")
							.shops-img-holder
								img.shops-img(src="img/trademarks/ikea.jpg", alt="")
								.shops-name ikea
					li.shops-item
						a.shops-link(href="shop.html")
							.shops-img-holder
								img.shops-img(src="img/trademarks/next.jpg", alt="")
								.shops-name next
					li.shops-item
						a.shops-link(href="shop.html")
							.shops-img-holder
								img.shops-img(src="img/trademarks/citrus2.jpg", alt="")
								.shops-name Eldorado
					li.shops-item
						a.shops-link(href="shop.html")
							.shops-img-holder
								img.shops-img(src="img/trademarks/rozetka2.jpg", alt="")
								.shops-name Eldorado
				
				.btn-holder
					button.button ещё магазины
				