extends ../main

block content
	._container
	
		// ====== categories ======= 
		.categories
			ul._row.categories-list
				li.categories-item
					a._row.categories-link(href="category.html")
						.categories-link__icon-holder
							img.categories-link__icon(src="img/trademarks/ikea.jpg", alt="")
						.categories-link__name Электроника, бытовая техника, одежда, прочее

				li.categories-item
					a._row.categories-link(href="category.html")
						.categories-link__icon-holder
							img.categories-link__icon(src="img/trademarks/citrus2.jpg", alt="")
						.categories-link__name Электроника

				li.categories-item
					a._row.categories-link(href="category.html")
						.categories-link__icon-holder
							img.categories-link__icon(src="img/trademarks/eldorado.jpg", alt="")
						.categories-link__name Электроника

				li.categories-item
					a._row.categories-link(href="category.html")
						.categories-link__icon-holder
							img.categories-link__icon(src="img/trademarks/next.jpg", alt="")
						.categories-link__name Электроника

			.btn-holder
				button.button ещё категории
			