extends ../main

block content
	._container
	
		// ====== owl-carousel ======= 
		.carousel_main-holder
			.owl-carousel.carousel_main
				.carousel__item
					img(src="img/trademarks/eldorado.jpg")
				.carousel__item
					img(src="img/trademarks/rozetka2.jpg")
				.carousel__item
					img(src="img/trademarks/citrus2.jpg")
				.carousel__item
					img(src="img/trademarks/next.jpg")
				.carousel__item
					img(src="img/trademarks/ikea.jpg")
				.carousel__item
					img(src="img/trademarks/eldorado.jpg")
				.carousel__item
					img(src="img/trademarks/rozetka2.jpg")
				.carousel__item
					img(src="img/trademarks/citrus2.jpg")
				.carousel__item
					img(src="img/trademarks/next.jpg")
				.carousel__item
					img(src="img/trademarks/ikea.jpg")

		// ====== shops ======= 
		.shop
			ul._row.shop-list
				li.shop-item
					a.shop-link(href="#")
						.shop-img-holder
							img.shop-img(src="img/trademarks/eldorado.jpg", alt="")
						.shop-name Eldorado
				li.shop-item
					a.shop-link(href="#")
						.shop-img-holder
							img.shop-img(src="img/trademarks/rozetka2.jpg", alt="")
						.shop-name Eldorado
				li.shop-item
					a.shop-link(href="#")
						.shop-img-holder
							img.shop-img(src="img/trademarks/citrus2.jpg", alt="")
						.shop-name Eldorado
				li.shop-item
					a.shop-link(href="#")
						.shop-img-holder
							img.shop-img(src="img/trademarks/ikea.jpg", alt="")
						.shop-name Eldorado
				li.shop-item
					a.shop-link(href="#")
						.shop-img-holder
							img.shop-img(src="img/trademarks/next.jpg", alt="")
						.shop-name Eldorado
				li.shop-item
					a.shop-link(href="#")
						.shop-img-holder
							img.shop-img(src="img/trademarks/citrus2.jpg", alt="")
						.shop-name Eldorado
				li.shop-item
					a.shop-link(href="#")
						.shop-img-holder
							img.shop-img(src="img/trademarks/rozetka2.jpg", alt="")
						.shop-name Eldorado
			
			.btn-holder
				button.button ещё магазины
			