extends ../main

block content
	._container
	
		// ====== owl-carousel ======= 
		.carousel_main-holder
			.owl-carousel.carousel_main
				.carousel__item
					img(src="img/trademarks/eldorado.jpg")
				.carousel__item
					img(src="img/trademarks/rozetka2.jpg")
				.carousel__item
					img(src="img/trademarks/citrus2.jpg")
				.carousel__item
					img(src="img/trademarks/next.jpg")
				.carousel__item
					img(src="img/trademarks/ikea.jpg")
				.carousel__item
					img(src="img/trademarks/eldorado.jpg")
				.carousel__item
					img(src="img/trademarks/rozetka2.jpg")
				.carousel__item
					img(src="img/trademarks/citrus2.jpg")
				.carousel__item
					img(src="img/trademarks/next.jpg")
				.carousel__item
					img(src="img/trademarks/ikea.jpg")

		// ====== shops ======= 
		.shops
			ul._row.shops-list
				li.shops-item
					a.shops-link(href="shop.html")
						.shops-img-holder
							img.shops-img(src="img/trademarks/eldorado.jpg", alt="")
							.shops-name Eldorado
						.shops-category Электроника
				li.shops-item
					a.shops-link(href="shop.html")
						.shops-img-holder
							img.shops-img(src="img/trademarks/rozetka2.jpg", alt="")
							.shops-name rozetka2
						.shops-category Техника
				li.shops-item
					a.shops-link(href="shop.html")
						.shops-img-holder
							img.shops-img(src="img/trademarks/citrus2.jpg", alt="")
							.shops-name citrus2
						.shops-category Электроника
				li.shops-item
					a.shops-link(href="shop.html")
						.shops-img-holder
							img.shops-img(src="img/trademarks/ikea.jpg", alt="")
							.shops-name ikea
						.shops-category Дом
				li.shops-item
					a.shops-link(href="shop.html")
						.shops-img-holder
							img.shops-img(src="img/trademarks/next.jpg", alt="")
							.shops-name next
						.shops-category Одежда
				li.shops-item
					a.shops-link(href="shop.html")
						.shops-img-holder
							img.shops-img(src="img/trademarks/citrus2.jpg", alt="")
							.shops-name Eldorado
						.shops-category Электроника
				li.shops-item
					a.shops-link(href="shop.html")
						.shops-img-holder
							img.shops-img(src="img/trademarks/rozetka2.jpg", alt="")
							.shops-name Eldorado
						.shops-category Электроника
			
			.btn-holder
				button.button ещё магазины
			