extends ../main

block content
	.partnership
		._container
			.partnership__text
				p Наш сайт промокодов содержит бесплатные промокоды как на продукты от различных интернет-магазинов, так и на множество оффлайн предложений. Все скидки, акции и распродажи специально для вашего удобства разделены по категориям, а также по магазинам и брендам, на которые действуют скидки.
				p С нами вы будете знать все об акциях, распродажах и скидках в ваших любимых магазинах, о сроке их действия, а так же сможете совершать очень выгодные покупки, не выходя из дома. Получить промокод очень просто – необходимо всего лишь нажать на кнопку «Получить» на заинтересовавшей вас акции, а далее ввести высветившийся промокод в соответствующее поле при оформлении заказа. Помимо этого в разделе множество акций и предложений, на которые промокод вовсе не нужен – достаточно перейти на сайт нашего партнера и заказать товар со скидкой.
				p Собрав выгодные акции и предложения в одном месте, систематизировав их по магазинам и категориям, мы поставили перед собой цель сделать ваши покупки выгодными, полезными, простыми и приятными, и все это абсолютно бесплатно!
				p Наш сайт промокодов содержит бесплатные промокоды как на продукты от различных интернет-магазинов, так и на множество оффлайн предложений. Все скидки, акции и распродажи специально для вашего удобства разделены по категориям, а также по магазинам и брендам, на которые действуют скидки.
				p С нами вы будете знать все об акциях, распродажах и скидках в ваших любимых магазинах, о сроке их действия, а так же сможете совершать очень выгодные покупки, не выходя из дома. Получить промокод очень просто – необходимо всего лишь нажать на кнопку «Получить» на заинтересовавшей вас акции, а далее ввести высветившийся промокод в соответствующее поле при оформлении заказа. Помимо этого в разделе множество акций и предложений, на которые промокод вовсе не нужен – достаточно перейти на сайт нашего партнера и заказать товар со скидкой.
				p Собрав выгодные акции и предложения в одном месте, систематизировав их по магазинам и категориям, мы поставили перед собой цель сделать ваши покупки выгодными, полезными, простыми и приятными, и все это абсолютно бесплатно!

			form.form.form_feedback(action="/feedback" method="POST")
				.form__title обратная связь
				._row.form__group
					label.form__label.required(for="feedback-name")
						.form__label-text Имя:
						input.form__input(name="text" id="feedback-name")
					label.form__label.required(for="feedback-email")
						.form__label-text Email/Телефон:
						input.form__input(name="text" id="feedback-email")
				label.form__label.required(for="feedback-text")
					.form__label-text Текст сообщения:
					textarea.form__textarea(name="text" id="feedback-text")
				.form__btn-holder
					button.button.form__button Отправить