extends ../main

block content
	.sign-in
		._container
			.title.sign-in__title Вход на сайт

			form.form.form_sign-in(action="/user/sign-in" method="POST")
	
				label.form__label.required(for="user-name")
					.form__label-text Телефон или e-mail *:
					input.form__input(type="text" name="text" id="user-name")
						
				label.form__label.required(for="user-password")
					.form__label-text Пароль:
					input.form__input(type="password" name="password" id="user-password")

				.form__btn-holder
					button.button.form__button Войти

			.socials
				ul.socials-list
					li.socials-item
						a.socials-item__link.socials-item__link_vk(href="#")
							.fa.fa-vk
					li.socials-item
						a.socials-item__link.socials-item__link_facebook(href="#")
							.fa.fa-facebook
					li.socials-item
						a.socials-item__link.socials-item__link_instagram(href="#")
							.fa.fa-instagram


			._row.sign-in__services
				a.sign-in__forgot(href="#") Забыли пароль?
				a.sign-in__register(href="#") Регистрация
