extends ../main

block content
	.sign-up
		._container
			.title.sign-in__title Регистрация

			form.form.form_sign-up(action="/user/sign-in" method="POST")
	
				._row.form__group
					label.form__label.required(for="user-name")
						.form__label-text Имя:
						input.form__input(type="text" name="text" id="user-name" autofocus)

					label.form__label.required(for="user-name")
						.form__label-text Фамилия:
						input.form__input(type="text" name="text" id="user-surname")

				._row.form__group
					label.form__label.required(for="user-surname")
						.form__label-text Email/Телефон:
						input.form__input(type="text" name="text" id="user-email")
							
					label.form__label.required(for="user-password")
						.form__label-text Пароль:
						input.form__input(type="password" name="password" id="user-password")
							

				label.form__label.form__label_password-confirm.required(for="user-password-confirm")
					.form__label-text Подтвердите пароль:
					input.form__input(type="password" name="text" id="user-password-confirm")

				.form__btn-holder
					button.button.form__button Зарегистрироваться
					
			._row.sign-in__services
				a.sign-in__forgot(href="sign-in.html") Вход