/*! ===== General styles ===== */

@include font-face('FontAwesome', '../fonts');
@include font-face('OpenSans-Regular', '../fonts');

$container-width: 1920px;
$body-color: #fff;
$body-font: 'OpenSans-Regular', Helvetica, sans-serif;
$body-font-color: #000;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: $body-font;
  font-size: 100%;
  color: $body-font-color;
  background-color: $body-color;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  width: 1920px;
  margin: auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;

  @include media(1920) {
    width: auto;
    margin: 0;
  }
}

.page {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 0;
}

.content {
  flex: 1 0 auto;
}

a, a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

ul[class] {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1[class], h2[class], h3[class], h4[class], h5[class], h6[class], p[class] {
  margin: 0;
  padding: 0;
}

._container {
  max-width: $container-width;
  margin: 0 auto;
}

._row {
  @include clearfix();  
}


/*! --- standart buttons --- */
.btn-holder {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  fill: #fff;
  padding: 15px 20px;
  border: 1px solid transparent;
  transition: .5s;


  &:hover {
    cursor: pointer;
    background-color: #fff;
    fill: #000;
    color: #000;
    border-color: #000;
  }
}

/*! --- standart title --- */
.title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/*! --- owl-carousel --- */
.owl-carousel {
  max-width: 925px;
  width: 85%;
  margin: 0 auto;

  @include media(500) {
    width: 80%;
  }
}

.carousel__item {
  display: block;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -5%;

  @include media(500) {
    left: -9%;
  }
}

.owl-next {
  right: -5%;

  @include media(500) {
    right: -9%;
  }
}

.owl-next .owl-nav_arrow {
  transform: rotate(180deg);
}

.owl-nav_arrow {
  // width: 28px;
  // height: 46px;
}

/*! --- google-map --- */

.google-map {
  position: relative;
}

.google-map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

