/*! ===== aside.sidebar ===== */

aside.sidebar {
	min-width: 80px;
	flex: 0 0 auto;
	background-color: #000;
}

.menu {
	position: relative;
	padding: 30px 20px;
	text-align: center;
	transition: .5s;
	
	&_fixed {
		position: fixed;
		top: 0;
	}

	&-list {

	}
	
	&-item {
		position: relative;
		display: block;
		margin-bottom: 55px;

		&:nth-of-type(1) {
			.menu-link {
				transform: rotate(45deg);
				border-radius: 0;
			}
			.menu-icon {
				transform: translate(-50%,-50%) rotate(-45deg);
			}
		}

		&_active {
			.menu-icon {
				fill: goldenrod;
			}
		}

		&_updated {
			.menu-link {
				animation: shine 3s infinite;
			}
		}
	}
	
	&-link {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 50%;
		transition: .3s;

		&:hover {
			.menu-icon {
				fill: goldenrod;
			}
		}
	}

	&-icon {
		@include center-translate();
		width: 17px;
		height: 17px;
		transition: .5s;
	}
}

@keyframes shine {
	0% {
		box-shadow: 0px 0px 0 0 goldenrod;
	}

	50% {
		box-shadow: 0px 0px 19px 6px goldenrod;
	}

	100% {
		box-shadow: 0 0 0 0 goldenrod;
	}
}

.menu-pointer {
	display: none;
	position: absolute;
	top: 0;
	right: -17px;
	border-left: 17px solid black;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	transition: .5s;

	&_dynamic {
		transform: rotate(180deg);
		border-left-color: goldenrod;
	}
}