/*! ===== aside.sidebar ===== */

aside.sidebar {
	position: relative;
	min-width: 80px;
	flex: 0 0 auto;
	transition: .5s;

	@include media(480) {
		position: absolute;
		top: 0;
		left: -80px;
		height: 100%;
	}

	&_open {
		left: 0;
	}
}

.menu {
	position: relative;
	min-width: 80px;
	height: 100%;
	background-color: #000;
	padding: 30px 20px;
	text-align: center;
	transition: .5s;
	z-index: 10;
	
	&_fixed {
		position: fixed;
		top: 0;
	}

	&-list {

	}
	
	&-item {
		position: relative;
		display: block;
		margin-bottom: 55px;

		&:nth-of-type(1) {
			.menu-link {
				transform: rotate(45deg);
				border-radius: 0;
			}
			.menu-icon {
				transform: translate(-50%,-50%) rotate(-45deg);
			}
		}

		&_active {
			.menu-icon {
				fill: red;
			}
		}

		&_updated {
			.menu-link {
				animation: shine 3s infinite;
			}
		}
	}
	
	&-link {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 50%;
		transition: .3s;

		&:hover {
			.menu-icon {
				fill: red;
			}
		}
	}

	&-icon {
		@include center-translate();
		width: 17px;
		height: 17px;
		transition: .5s;
	}
}

@keyframes shine {
	0% {
		box-shadow: 0px 0px 0 0 red;
	}

	50% {
		box-shadow: 0px 0px 19px 6px red;
	}

	100% {
		box-shadow: 0 0 0 0 red;
	}
}

.menu-pointer {
	display: none;
	position: absolute;
	top: 0;
	right: -17px;
	border-left: 17px solid black;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	transition: .5s;

	&_dynamic {
		transform: rotate(180deg);
		border-left-color: red;
	}

	@include media(480) {
		display: none !important;
	}
}

// burger
.burger {
	display: none;
	position: absolute;
	right: -80px;
	top: 0;
	z-index: 5;
	border-top: 40px solid black;
  border-bottom: 40px solid transparent;
  border-left: 40px solid black;
  border-right: 40px solid transparent;
  transition: .5s;

	&_fixed {
    position: fixed;
    top: 0;
    right: auto;
    left: 0;
    z-index: 20;

    &.burger_close {
    	left: 80px;
    }
	}

	&_close {
		.burger__bar {
		    width: 20px;
		    top: -20px;
		    left: -25px;

			&_top {
		    transform: rotate(-45deg);
			}
			&_mid {
				opacity: 0 !important;
			}
			&_bot {
		    transform: rotate(45deg);
			}
		}
	}

	&:hover {
		cursor: pointer;

		.burger__bar {
			opacity: 0.5;
		}
	}

	@include media(480) {
		display: block;
		float: right;
	}

	&__bar {
		position: absolute;
		height: 2px;
		background-color: #fff;
		transition: all 0.5s;

		&_top {
			top: -25px;
    	left: -30px;
			width: 40px;
		}
		&_mid {
	    top: -15px;
	    left: -30px;
	    width: 30px;
		}
		&_bot {
	    top: -5px;
	    left: -30px;
	    width: 20px;
		}
	}
}